In [1]:
import pandas as pd

In [2]:
bd = pd.read_excel('USUARIOS_DEZEMBRO.xlsx')

In [3]:
enderecos = pd.read_excel('BD_Dezembro.xlsx')

In [4]:
enderecos.tail()

,SITE,MATRÍCULA,NOME,ENDEREÇO,Nº,BAIRRO,ZONA
378,DIRCEU,221006,GERCIANE SALES DA CONCEICAO,QUADRA D 12,04,VALE DO GAVIAO,LESTE
379,DIRCEU,242004,MICHAELLY LAIANE CARVALHO DE O CRISPIM,RUA ONZE,09,PORTO DO CENTRO,LESTE
380,DIRCEU,197536,WERICK ARAUJO RODRIGUES DOS SANTOS,CONJUNTO PLANALTO URUGUAI,9,VALE QUEM TEM,LESTE
381,DIRCEU,237778,DAVID DE SOUSA PACHECO,GOITACAZ,4151,VILA IRMA DULCE,SUL
382,DIRCEU,242121,LILYA LAYANE DA COSTA SOARES,10,3080,SÃO SEBASTIÃO,SDB

In [5]:
endereco = enderecos[['MATRÍCULA','ENDEREÇO','Nº']]

In [6]:
pd.DataFrame(endereco)

     MATRÍCULA                   ENDEREÇO    Nº
0       247772        RUA EPITACIO PESSOA  1931
1       247704         RUA MARECHAL DUTRA  5902
2       229145                RUA COLOMBO  5415
3       228731     RUA ALBERTO LEAL NUNES  1778
4       222872                  QUADRA 34    10
..         ...                        ...   ...
378     221006                QUADRA D 12    04
379     242004                   RUA ONZE    09
380     197536  CONJUNTO PLANALTO URUGUAI     9
381     237778                   GOITACAZ  4151
382     242121                         10  3080

[383 rows x 3 columns]

In [7]:
endereco.set_index('MATRÍCULA', inplace=True)

In [8]:
# endereco['ENDEREÇO'].str.cat(endereco['Nº'], sep =", ")
# endereco['endereco'] = endereco[['ENDEREÇO', 'Nº']].apply(lambda x: ' '.join(x), axis = 1)

In [9]:
endereco

                            ENDEREÇO    Nº
MATRÍCULA
247772           RUA EPITACIO PESSOA  1931
247704            RUA MARECHAL DUTRA  5902
229145                   RUA COLOMBO  5415
228731        RUA ALBERTO LEAL NUNES  1778
222872                     QUADRA 34    10
...                              ...   ...
221006                   QUADRA D 12    04
242004                      RUA ONZE    09
197536     CONJUNTO PLANALTO URUGUAI     9
237778                      GOITACAZ  4151
242121                            10  3080

[383 rows x 2 columns]

In [10]:
endereco['Nº'] = endereco['Nº'].astype(str).copy()

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
endereco['endereco'] = endereco[['ENDEREÇO', 'Nº']].apply(lambda x: ', '.join(x), axis = 1)

C:\Users\user\Anaconda3\envs\teste_vipi\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
endereco = endereco['endereco']

In [20]:
endereço = endereco.to_dict()

In [14]:
teste = pd.read_excel('2019_12_24_rotas_horario_02.xlsx', sheet_name = 'dirceu_sul')

In [15]:
teste = teste.set_index(['matricula'])

In [16]:
teste = teste.drop(columns=['Unnamed: 0'])
teste

,filial,nome,rua,numero,bairro,zona,horario,assinatura,status_frequencia
matricula,,,,,,,,,
237672,DIRCEU,THALISON TIAGO DE SOUSA,QUADRA PROMORAR,24,RAIMUNDO PORTELA,SUL,234500,NaN,NOVO
225711,DIRCEU,LUCIA AMANDA MOEMA LORRANY S E SILVA,CAZULO,2384,ANGELIM,SUL,234500,NaN,NOVO
244135,DIRCEU,KATHLEEN COSTA MARTILIANO,QUADRA PROMORAR,SN,RAIMUNDO PORTELA,SUL,3000,NaN,ATIVO
237670,DIRCEU,ANDREIA MIKAELY DE SOUSA BARBOSA,RUA DEPUTADO ULISSES GUIMARAES,0,SANTA CRUZ,SUL,235500,NaN,ATIVO
197451,DIRCEU,MARIA MENDES DO NASCIMENTO,NOVA ALEGRIA QD BH,3,PARQUE SUL,SUL,234500,NaN,ATIVO
187465,DIRCEU,FRANCIEZIO SOARES FERNANDES,RESID JARDIM DOS CANELEIROS,300,ESPLANADA,SUL,234500,NaN,ATIVO
223319,DIRCEU,HELLEN RAQUEL MORAES MATOS,QUADRA BELA VISTA,13,BELA VISTA,SUL,234500,NaN,ATIVO
223309,DIRCEU,MARCOS VINICIUS RAMOS OLIVEIRA,RUA IVAN TITO DE OLIVEIRA,1094,LORIVAL PARENTE,SUL,234500,NaN,ATIVO
225340,DIRCEU,NARA CERQUEIRA DA SILVA,RUA CEREJEIRA,4555,LORIVAL PARENTE,SUL,234500,NaN,ATIVO
225331,DIRCEU,SERGIO LUIS HIGINO CARDOSO,RUA SANTA JOANA D'ARC,4801,SACI,SUL,234500,NaN,ATIVO
225714,DIRCEU,LUANN YURI ALVES DA SILVA,CAZULO,2384,ANGELIM,SUL,234500,NaN,ATIVO
184278,DIRCEU,WANDERSON FELIPE CARDOSO E SILVA,CONJUNTO VAMOS VER O SOL,13,SANTO ANTONIO,SUL,235500,NaN,INATIVO

In [22]:
teste['new_data_1'] = teste.index.map(endereço)

In [23]:
teste

,filial,nome,rua,numero,bairro,zona,horario,assinatura,status_frequencia,new_data_1
matricula,,,,,,,,,,
237672,DIRCEU,THALISON TIAGO DE SOUSA,QUADRA PROMORAR,24,RAIMUNDO PORTELA,SUL,234500,NaN,NOVO,"QUADRA PROMORAR, 24"
225711,DIRCEU,LUCIA AMANDA MOEMA LORRANY S E SILVA,CAZULO,2384,ANGELIM,SUL,234500,NaN,NOVO,"CAZULO, 2384"
244135,DIRCEU,KATHLEEN COSTA MARTILIANO,QUADRA PROMORAR,SN,RAIMUNDO PORTELA,SUL,3000,NaN,ATIVO,"QUADRA PROMORAR, SN"
237670,DIRCEU,ANDREIA MIKAELY DE SOUSA BARBOSA,RUA DEPUTADO ULISSES GUIMARAES,0,SANTA CRUZ,SUL,235500,NaN,ATIVO,"RUA DEPUTADO ULISSES GUIMARAES, nan"
197451,DIRCEU,MARIA MENDES DO NASCIMENTO,NOVA ALEGRIA QD BH,3,PARQUE SUL,SUL,234500,NaN,ATIVO,"NOVA ALEGRIA QD BH, 3"
187465,DIRCEU,FRANCIEZIO SOARES FERNANDES,RESID JARDIM DOS CANELEIROS,300,ESPLANADA,SUL,234500,NaN,ATIVO,"RESID JARDIM DOS CANELEIROS, 300"
223319,DIRCEU,HELLEN RAQUEL MORAES MATOS,QUADRA BELA VISTA,13,BELA VISTA,SUL,234500,NaN,ATIVO,"QUADRA BELA VISTA, 13"
223309,DIRCEU,MARCOS VINICIUS RAMOS OLIVEIRA,RUA IVAN TITO DE OLIVEIRA,1094,LORIVAL PARENTE,SUL,234500,NaN,ATIVO,"RUA IVAN TITO DE OLIVEIRA, 1094"
225340,DIRCEU,NARA CERQUEIRA DA SILVA,RUA CEREJEIRA,4555,LORIVAL PARENTE,SUL,234500,NaN,ATIVO,"RUA CEREJEIRA, 4555"
225331,DIRCEU,SERGIO LUIS HIGINO CARDOSO,RUA SANTA JOANA D'ARC,4801,SACI,SUL,234500,NaN,ATIVO,"RUA SANTA JOANA D'ARC, 4801"
225714,DIRCEU,LUANN YURI ALVES DA SILVA,CAZULO,2384,ANGELIM,SUL,234500,NaN,ATIVO,"CAZULO, 2384"
184278,DIRCEU,WANDERSON FELIPE CARDOSO E SILVA,CONJUNTO VAMOS VER O SOL,13,SANTO ANTONIO,SUL,235500,NaN,INATIVO,"CONJUNTO VAMOS VER O SOL, 13"